.brands-carousel {
    margin: 0 400px;
}

.brands-wrapper {
    margin-top: 32px;
}
.ant-row2{
    display: flex;
    margin-left: 24%;
}

.brands-wrapper-title {
    margin-left: 46%;
}

.brands-wrapper .ant-carousel .slick-dots li button {
    background: #000000;
    opacity: 0.4;
}

.brands-wrapper .ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: #000000;
}

.brands-wrapper .ant-carousel .slick-dots-bottom {
    bottom: -50px;
    margin-left: -280px;
}